body {
  background-color: lightblue;
  
}

h1 {
  /* all 3 text styles added */
  color: rgb(36, 41, 41);
  text-align: center;
  text-decoration: underline;
  /*font change for title*/
  font-family: 'Bebas Neue', cursive;
}